body {
    background-color: lightblue;  
}

header {
    text-align: center;
    background-color: blue;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

#search-section {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: -100px;
    width: 100px;
}

#search-button {
    margin-top: 15px;
}

#five-day-section {
    margin-top: 100px;
    padding: 15px;
}

#current-weather-box {
    margin-top: 15px;
    border-color: darkblue;
    border: solid;
    padding: 15px;
}

#day-1,
#day-2,
#day-3,
#day-4,
#day-5 {
    background-color: darkblue;
    color: white;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: larger;
}

.hide {
    display: none;
}